{% extends 'layout.html' %}

{% load static %}
{% block content%}
 <div class="container">
 <!---heading---->
 <h1 style="color:whitesmoke;"> Update Details</h1><hr></hr>
	<!---Form starting----> 
	<div class="row ">
     <!--- For Name---->
    <form  action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %} 
    <div class="col-sm-12">
            <div class="row">
                <div class="col-xs-4">
                      <label class="firstname">PID</label> 
                </div>
                <div class="col-xs-8">
                    <input type="text" name="pid" id="pid" placeholder="PID" class="form-control ">
                </div>
            </div>
    </div>
         <div class="col-sm-12">
             <div class="row">
			     <div class="col-xs-4">
                       <label class="firstname">First Name :</label> 
                    </div>
		         <div class="col-xs-8">
		             <input type="text" name="first_name" id="first_name" placeholder="Enter your First Name" class="form-control ">
                 </div>
		      </div>
		 </div>
		 
		 
         <div class="col-sm-12">
		     <div class="row">
			     <div class="col-xs-4">
                     <label class="lastname">Last Name :</label></div>
				<div class ="col-xs-8">	 
		             <input type="text" name="last_name" id="last_name" placeholder="Enter your Last Name" class="form-control last">
                </div>
		     </div>
		 </div>
     <!-----For email---->
		 <!-- <div class="col-sm-12">
		     <div class="row">
			     <div class="col-xs-4">
		             <label class="mail" >Email :</label></div>
			     <div class="col-xs-8"	>	 
			          <input type="email" name="email"  id="email"placeholder="Enter your email" class="form-control" >
		         </div>
		     </div>
		 </div>
		   -->
         <div class="col-sm-12">
		     <div class="col-sm-12">
                    <input type="submit" value="Submit">
		   </div>
         </div>
        </form>
	 </div>	 
		 		 
    	
</div>
{% endblock %}