body{
    background:white url("images/background.jpg");
}
.navbar{
    border-radius: 0;
}
.navbar-brand{
    font-family: 'Satisfy',cursive;
}
a.error{
    font-style: bold;
    font-weight: bold;
    font-size : 50em;
    font-family:  'Satisfy',cursive;

}